@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif,'Battambang'
}
.bg{
    background: url(../img/banner/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav,
footer,
.trending{
    background: linear-gradient(to bottom, #007e00, #006400) no-repeat!important;
}
.user-and-time .times .language .drop-language{
    top: 110%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.user-and-time .times .language:hover .drop-language{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
nav ul li:hover{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
}
.blog-1 .main-box-1 .box-1 .box,
.blog-1 .main-box-1 .box-2 .box,
.blog-1 .main-box-1 .box-3 .box,
.blog-1 .main-box-2 .col-span-4 .box,
.blog-2 .main-box{
    background: linear-gradient(to bottom, #007e00, #006400) no-repeat!important;
}
.blog-1 .main-box-1 .box-1 .box .des,
.blog-1 .main-box-1 .box-2 .box .des,
.blog-1 .main-box-1 .box-3 .box .des,
.blog-1 .main-box-2 .col-span-4 .box .des{
    background: linear-gradient( 90deg, rgb(75 23 169 / 0%) 0%, rgb(31 27 27) 50%, rgb(75 23 169 / 0%) 100%);
}
.blog-1 .main-box-1 .box-1 .box .images img{
    width: 100%;
    transition: transform 0.3s;
}
.blog-1 .main-box-1 .box-2 .box .images img{
    transition: transform 0.3s;
}
.blog-1 .main-box-1 .box-3 .box .images img{
    transition: transform 0.3s;
}
.blog-1 .main-box-2 .col-span-4 .box .images img{
    transition: transform 0.3s;
}
.blog-1 .main-box-1 .box-1 .box .images img:hover,
.blog-1 .main-box-1 .box-2 .box .images img:hover,
.blog-1 .main-box-1 .box-3 .box .images img:hover,
.blog-1 .main-box-2 .col-span-4 .box .images img:hover{
    transform: scale(1.1);
}

.blog-2 .title{
    background: transparent;
    vertical-align: baseline;
}
.blog-2 .title h1{
    background: rgb(127 93 157 / 49%);
}

.text-effect .top div{
    -webkit-animation: glow 2s infinite;
    -moz-animation: glow 2s infinite;
    -o-animation: glow 2s infinite;
    animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 4px #00f9ff;
    }
    50% {
        -webkit-box-shadow: 0 0 20px #00f9ff;
    }
    100% {
        -webkit-box-shadow: 0 0 4px #00f9ff;
    }
}

.blog-register .main-box{
    background: rgba(54, 168, 19, 0.6);
}
.blog-register .title h1{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
}

.social-link{
    top: 30%;
    right: 0;
    z-index: 100;
}
.social-link .main-box-1{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    width: 350px;
    transition: all 0.2s;
    position: absolute;
    right: -230%;
    top: 0px;
}
.social-link .main-box-2{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    width: 350px;
    transition: all 0.2s;
    position: absolute;
    right: -230%;
    top: 60px;
}
.social-link .main-box-3{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    width: 350px;
    transition: all 0.2s;
    position: absolute;
    right: -230%;
    top: 120px;
}
.social-link .main-box-4{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    width: 350px;
    transition: all 0.2s;
    position: absolute;
    right: -230%;
    top: 180px;
}
.social-link .main-box-5{
    background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    width: 350px;
    transition: all 0.2s;
    position: absolute;
    right: -230%;
    top: 240px;
}
.social-link .main-box-1:hover,
.social-link .main-box-2:hover,
.social-link .main-box-3:hover,
.social-link .main-box-4:hover,
.social-link .main-box-5:hover{
    right: 0%;
}

@media (min-width: 320px) and (max-width: 480px){
    .form-for-mobile{
        display: block !important;
        z-index: 200;
        height: 100%;
        width: 0%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.2s;
        overflow-x: hidden;
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    }
    .form-for-mobile .main-box{
        background: rgba(54, 168, 19, 0.6);
    }
    .social-link{
        top: 35%;
        right: 0;
        z-index: 100;
    }
    .social-link .main-box-1 i,
    .social-link .main-box-2 i,
    .social-link .main-box-3 i,
    .social-link .main-box-4 i,
    .social-link .main-box-5 i{
        font-size: 20px;
        width: 45px;
        height: 45px;
    }
    .social-link .main-box-1{
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
        width: 350px;
        transition: all 0.2s;
        position: absolute;
        right: -240%;
        top: 0px;
    }
    .social-link .main-box-2{
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
        width: 350px;
        transition: all 0.2s;
        position: absolute;
        right: -240%;
        top: 55px;
    }
    .social-link .main-box-3{
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
        width: 350px;
        transition: all 0.2s;
        position: absolute;
        right: -240%;
        top: 95px;
    }
    .social-link .main-box-4{
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
        width: 350px;
        transition: all 0.2s;
        position: absolute;
        right: -240%;
        top: 143px;
    }
    .social-link .main-box-5{
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
        width: 350px;
        transition: all 0.2s;
        position: absolute;
        right: -240%;
        top: 190px;
    }
    header{
        display: none;
    }
    .header-mobile{
        display: flex !important;
        background: linear-gradient(to bottom, #007e00, #006400) no-repeat!important;
    }
    nav .menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        transition: all 0.2s;
        overflow-x: hidden;
        z-index: 200;
        background: linear-gradient(to bottom, #007e00, #006400) no-repeat!important;
    }
    nav .menu .close-menu{
        display: block;
    }
    nav .menu ul li{
        width: 100%;
    }
    nav .menu ul .mobile-icon{
        display: none;
    }

    .main-box-1 .box-1{
        width: 100%;
        padding: 0px 2px !important;
    }
    .main-box-1 .box-1 .box{
        margin: 0px !important;
    }
    .main-box-1 .box-2,
    .main-box-1 .box-3{
        width: 50%;
        float: left;
        padding: 0px 2px !important;
    }
    .main-box-1 .box-2 .box .des h1,
    .main-box-1 .box-3 .box .des h1{
        font-size: 14px;
        padding: 2px !important;
    }
    .main-box-1 .box-2,
    .main-box-1 .box-3{
        margin: 0px !important;
    }
    .main-box-2{
        margin-top: -8px !important;
    }
    .main-box-2 .col-span-4{
        padding: 0px 2px !important;
    }
    .main-box-2 .col-span-4 .box .des h1{
        font-size: 14px;
        padding: 2px !important;
    }

    footer .main-box{
        width: 100%;
        display: inline-block;
        padding: 5px !important;
    }
    footer .main-box .col-span-6 .box .icon .col-span-3{
        padding: 5px !important;
    }

    .blog-register{
        width: 100%;
        padding: 5px !important;
    }
    .blog-register .main-box{
        width: 100%;
        padding: 5px !important;
        display: inline-block;
    }
    .blog-register .main-box .col-span-5 .box h1{
        text-align: center;
    }
    .blog-register .main-box .col-span-5 .box .form .row{
        width: 100%;
        display: inline-block;
    }
    .blog-register .main-box .col-span-5 .box .form .row label{
        font-size: 15px;
        width: 100%;
    }
    .blog-register .main-box .col-span-5 .box .form .row input{
        font-size: 15px;
        margin-top: 5px;
        width: 100%;
    }
    .blog-register .main-box .col-span-5 .box .form .row .box-code .random-code{
        margin-top: 5px;
        font-size: 15px;
    }
    .blog-register .main-box .col-span-7 .box h1{
        text-align: center;
        font-size: 15px;
    }
    .blog-register .main-box .col-span-7 .box .check-box{
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .form-for-mobile{
        display: block !important;
        z-index: 200;
        height: 100%;
        width: 0%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.2s;
        overflow-x: hidden;
        background: linear-gradient(to bottom, #00ff00, #1d2c1d) no-repeat!important;
    }
    .form-for-mobile .main-box{
        width: 90%;
        margin: 50px auto;
        background: rgba(54, 168, 19, 0.6);
    }
    header{
        display: none;
    }
    .header-mobile{
        display: flex !important;
        background: linear-gradient(to bottom, #007e00, #006400) no-repeat!important;
    }
    nav .menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        transition: all 0.2s;
        overflow-x: hidden;
        z-index: 200;
        background: linear-gradient(to bottom, #007e00, #006400) no-repeat!important;
    }
    nav .menu .close-menu{
        display: block;
    }
    nav .menu ul li{
        width: 100%;
    }
    nav .menu ul .mobile-icon{
        display: none;
    }

    .main-box-1 .box-2 .box .des h1,
    .main-box-1 .box-3 .box .des h1{
        font-size: 14px;
        padding: 2px !important;
    }
    .main-box-2 .col-span-4 .box .des h1{
        font-size: 14px;
        padding: 2px !important;
    }
    footer .main-box .col-span-6 .box .icon .col-span-3{
        padding: 5px !important;
    }


    .blog-register{
        width: 100%;
        padding: 5px !important;
    }
    .blog-register .main-box{
        width: 100%;
        padding: 5px !important;
    }
    .blog-register .main-box .col-span-5 .box .form .row{
        width: 100%;
        display: inline-block;
    }
    .blog-register .main-box .col-span-5 .box .form .row label{
        font-size: 15px;
        width: 100%;
    }
    .blog-register .main-box .col-span-5 .box .form .row input{
        font-size: 15px;
        margin-top: 5px;
        width: 100%;
    }
    .blog-register .main-box .col-span-5 .box .form .row .box-code .random-code{
        margin-top: 5px;
        font-size: 15px;
    }
    .blog-register .main-box .col-span-7 .box h1{
        font-size: 15px;
    }
    .blog-register .main-box .col-span-7 .box .check-box{
        width: 100%;
        font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    
    header .main-box .user-and-time{
        padding: 0px 10px !important;
    }
    header .main-box .user-and-time .user input{
        width: 180px;
        
    }

    nav .menu ul li a{
        font-size: 15px;
        padding: 5px !important;
    }
    nav .menu ul li a img{
        width: 22px;
        height: 22px;
    }
    .blog-register{
        width: 100%;
        padding: 5px !important;
    }
    .blog-register .main-box{
        width: 100%;
        padding: 5px !important;
    }
    .blog-register .main-box .col-span-5 .box .form .row{
        width: 100%;
        display: inline-block;
    }
    .blog-register .main-box .col-span-5 .box .form .row label{
        font-size: 15px;
        width: 100%;
    }
    .blog-register .main-box .col-span-5 .box .form .row input{
        font-size: 15px;
        margin-top: 5px;
        width: 100%;
    }
    .blog-register .main-box .col-span-5 .box .form .row .box-code .random-code{
        margin-top: 5px;
        font-size: 15px;
    }
    .blog-register .main-box .col-span-7 .box h1{
        font-size: 15px;
    }
    .blog-register .main-box .col-span-7 .box .check-box{
        width: 100%;
        font-size: 13px;
    }
}